<!DOCTYPE html>
<html lang="en">


<head>
    {% include "head_admin.html" %}

    <!-- PAGE TITLE HERE ============================================= -->
    <title>Loyola Teacher Admin </title>

</head>

<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <div class="account-form">
            <div class="account-head" style="background-image:url(/static/assets/images/study-group-african-people.jpg);">
                <a href="index.html"><img src="/static/assets/images/university_mobile_logo_ulc-1.png" alt=""></a>
            </div>
            <div class="account-form-inner">
                <div class="account-container">
                    <div class="heading-bx left">
                        <h2 class="title-head">Loyola: <span>Connexion</span></h2>
                        <p hidden>Don't have an account? <a href="{% url 'register' %}">Create one here</a></p>
                    </div>
                    <form method="post" enctype="multipart/form-data" class="contact-bx">
                        {% csrf_token %}
                        <div class="row placeani">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Email ou nom d'utilisateur</label>
                                        <input name="username_or_email" type="text" required="" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <label>Mot de passe</label>
                                        <input name="password" type="password" class="form-control" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group form-forget">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                        <label class="custom-control-label" for="customControlAutosizing">Se souvenir de moi</label>
                                    </div>
                                    <a href="{% url 'password_reset' %}" class="ml-auto">Mot de passe oublié ?</a>
                                </div>
                            </div>
                            <div class="col-lg-12 m-b30">
                                <button name="submit" type="submit" value="Submit" class="btn button-md">Connexion</button>
                            </div>
                            <div class="col-lg-12" hidden>
                                <h6>Login with Social media</h6>
                                <div class="d-flex">
                                    <a class="btn flex-fill m-r5 facebook" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                                    <a class="btn flex-fill m-l5 google-plus" href="#"><i class="fa fa-google-plus"></i>Google Plus</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- External JavaScripts -->
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
    <script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
    <script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
    <script src="/static/assets/vendors/counter/waypoints-min.js"></script>
    <script src="/static/assets/vendors/counter/counterup.min.js"></script>
    <script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
    <script src="/static/assets/vendors/masonry/masonry.js"></script>
    <script src="/static/assets/vendors/masonry/filter.js"></script>
    <script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="/static/assets/js/functions.js"></script>
    <script src="/static/assets/js/contact.js"></script>
    <script src='assets/vendors/switcher/switcher.js'></script>
</body>

</html>