<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.html" %}
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola : Inscription </title>
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000067), url(/static/assets/images/IMG_0622.JPG);  background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div style="background-color: #eeb421; padding: 50px; margin: 60px 0; border-radius: 8px; color: rgb(0, 0, 0);">
							<h1 style="color: rgb(0, 0, 0);">S'inscrire</h1>
							<br>
							<p>
								Choisissez parmi notre large éventail de programmes <br>
								académiques, allant de la philosophie à l’ingénierie et <br>
								aux sciences agronomiques et vétérinaires.
							</p>
							<a href="#main" style="color: white;" class="btn btn-secondary">Commencer</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
	<div class="section" id="main">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div style="padding-top: 50px;">
						<h2>Détails du candidat</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<form method="post" enctype="multipart/form-data" class="row">	

				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="form20">
						<div>
							<label>Nom</label><br>
							<input type="text" name="last_name"  class="forms-group" id="last_name" placeholder="Entrez votre Prénom">
						</div>
						{% csrf_token %}
							<br>
							<div>
								<label>Prénom</label><br>
								<input type="text" name="first_name" class="forms-group"  id="first_name" placeholder="Entrez votre prénom">
							</div>
							<br>
							<div>
								<label>Adresse Mail</label><br>
								<input type="email" name="email"   id="email" placeholder="Entrez votre mail">
							</div>

					</div>	
					</div>

				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="form20">
						<div>
							<label>Téléphone</label><br>
							<input type="text" name="number"  id="Téléphone" placeholder="Entrez votre numéro">
						</div>
						
						<br>
						<div>
							<label>Date de Naissance</label><br>
							<input type="date" name="bithday" id="date" placeholder="Entrez votre Date de Naissance">
						</div>
						<br>
						<div>
							<label>Lieu de Naissance</label><br>
							<input type="text" name="Place_of_birth" class="forms-group"   id="Place_of_birth" placeholder="Entrez votre Lieu de Naissance">
						</div>

					</div>
				</div>

							
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="form20">
						<div class="form-group">
							<label>sexe</label>
							<div class="input-group">
								
								<select  name="sexe_type" id="sex_type">
									{% for user_set_type in user_set_types %}
									<option value="{{user_set_type.0}}">
										{{user_set_type.0}}
									</option>
									
									{% endfor %}
								</select>
							</div>
						</div>			
						<div>
							<label>Adresse</label><br>
							<input type="text" class="forms-group"  name="adress" id="adress" >
						</div>

						<div>
							<label>Commune</label><br>
							<input type="text" name="common" class="forms-group"  id="common">
						</div>

				</div>
			</div>

			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="form20">

					<div class="form-group">
								<label>Pays</label>
								<div class="input-group">
									<select required name="country" id="Region" value="33">
								{% for country in COUNTRIES_LIST %}
								<option value="{{country.code}}" {% if country.code == '243' %}selected{% endif %}>{{country.name}} ({{country.code}})</option>
								{% endfor %}
							</select>
							</div>
							</div>

						<div>
							<label>Niveau d'etude</label><br>
							<select class="input-group" name="level_of_study" id="level_of_study">
								{% for level_of_study in level_of_studys %}
								<option value="{{level_of_study.0}}">{{level_of_study.0}}</option>
								{% endfor %}                         
							</select>
						</div>
						<div>
							<label for="faculty">Faculté</label>
							<select class="input-groupp" name="faculty" id="faculty">
								{% for faculty in facultys %}
								<option value="{{faculty.0}}">{{faculty.0}}</option>
								{% endfor %}                         
							</select>
						</div>
				</div>
			</div>
			</div>
						<div class="seperator">
							 
						</div>

		{{souscrip.errors}}				<div class="col-lg-6 col-md-12 col-sm-12">
							<div class="form20">

							<div class="form-group row">
								<div class="col-sm-10 ml-auto">
									<h3>2. Tuteur</h3>
								</div>
							</div>
		
								<div>
									<label>Nom</label><br>
									<input type="text" name="tuteur_name" class="forms-group"  id="tuteur_name">
								</div>
								<div>
									<label>Tel:</label><br>
									<input type="text" name="tuteur_number" class="forms-group"  id="tuteur_number">
								</div>
								<div>
									<label>E-mail</label><br>
									<input type="email" name="tuteur_email" class="forms-group"  id="tuteur_email">
								</div>

						</div>
					</div>	
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="form20">
						<button class="btn">Soumettre</button>
					</div>
				</div>
			</form>
		</div>
	</div>

        <div hidden>
                  <div class="background15">

					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 ">
								<h1 style="color: white;">Comment s'inscrire ?</h1>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12">
								<a href="#" style="color: white;  padding-left: 500px; text-decoration: underline; ">Découvrir Les Conditions</a>
							</div>
						</div>
					</div>
					<br><br><br>
					<div style="padding-bottom: 50px;">
						<div class="container">
							 <div class="row">
								<div class="col-lg-4 col-md-12 col-sm-12">
									
										
										
											<h2 style="color: white; padding-left: 10px; ">Sélectionnez <br> 
												votre programme</h2>
												<br>
												<p style="color: white;">
													Choisissez parmi notre largeéventail de <br>
													programmes académiques, allant de la  <br>
													philosophie à l'ingénierieet aux sciences <br>
													agronomiques et vétérinaires.
												</p>
										
									
								</div>
								
								<div class="col-lg-4 col-md-12 col-sm-12">
									<div class="">
										<div style="padding-left: 40px;">
											<h2 style="color: white;">Préparez tous <br> vos Dossier</h2>
											<br>
											    <p style="color: white;">
												       Rassemblez tous les documents requis pour votre <br>
												       candidature, tels que les relevés de notes, les lettres <br>
												     de recommandationet les pièces d'identité.
								                </p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									
										<div style="padding-left: 40px; ">
											<h2 style="color: white;">Soumettez votre <br> candidature</h2>
											<br>
											<p style="color: white;">
														Une fois votre dossier complet, soumettez votre <br>
														candidature en ligne via notre portaildédié. <br>
														Préparez-vous à réjoindre notre communauté <br>
														académique dynamique à l'ULC.
											</p>	
										</div>
									
								</div>
							</div>
							
						</div>
					</div>
	                 </div>
		 

</div>

{% include "footer.html" %}

<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>