<link rel="stylesheet" type="text/css" href="/static/admin/assets/css/assets.css">
<link rel="stylesheet" type="text/css" href="/static/admin/assets/vendors/calendar/fullcalendar.css">

<!-- TYPOGRAPHY ============================================= -->
<link rel="stylesheet" type="text/css" href="/static/admin/assets/css/typography.css">

<!-- SHORTCODES ============================================= -->
<link rel="stylesheet" type="text/css" href="/static/admin/assets/css/shortcodes/shortcodes.css">

<!-- STYLESHEETS ============================================= -->
<link rel="stylesheet" type="text/css" href="/static/admin/assets/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/admin/assets/css/dashboard.css">
<link class="skin" rel="stylesheet" type="text/css" href="/static/admin/assets/css/color/color-1.css">