
<div class="red-background section">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-12 col-sm-12 text-white">
                <h1 style="color: white;">Pret à façonner votre avenir ?</h1>
                <p>Rejoignez-nous dès aujourd'hui !</p>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
				<br>
                <a href="{% url 'student_souscription' %}" style="display: block; width: 100%; padding: 12px 50px; text-align: center; border: 1px solid #ffffff;; font-size: 18px; border-radius: 8px; color: white;">Commencer  </a>
				<br>
            </div>
        </div>
    </div>
</div>


<footer>
	<div class="footer-top">
		<div hidden class="">
			<div >
				<div class="">
					<div class="pt-logo mr-auto">
						<a href="#"><img src="/static/assets/images/logo-white.png" alt=""/></a>
					</div>
                    <br><br>
					<div class="pt-social-link">
						<ul class="list-inline m-a0">
							<li><a href="#" class="btn-link"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="btn-link"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#" class="btn-link"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#" class="btn-link"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<div class="pt-btn-join">
						<a href="#" class="btn ">Join Now</a>
					</div>
				</div>
			</div>
		</div>
		<div >
			<div class="row" style="padding: 50px;">
				<div class="col-lg-3 col-md-12 col-sm-12 " >
					<div style="padding-right: 30px;">
						
							<a href="#"><img src="/static/assets/images/university_mobile_logo_ulc.png" alt="logo_ULC"/></a>

                            <br><br>
							<p class="text-capitalize m-b20">
								Mission Catholique de Kimwenza
							</p>
							<p>C/Mont Ngafula B.P. 3724 Kinshasa-Gombe</p>
							<a href="+243 82 526 1046">+243 82 526 1046</a>
						
					</div>
				</div>
				
					
						<div class="col-lg-3 col-md-12 col-sm-12" >
							<div class="widget footer_widget">
								<h5 class="footer-title">NAVIGATION</h5>
								<ul>
									<li><a href="{% url 'home' %}" >Accueil</a></li>
									<li><a href="#">A propos</a></li>
									<li><a href="{% url 'news_list' %}" >Actualités</a></li>
									<li><a href="{% url 'contact' %}" >Contact</a></li>
									<li><a href="{% url 'alumnis' %}" >Allumnis</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-12 col-sm-12">
							<div class="widget footer_widget" >
								<h5 class="footer-title">INFORMATIONS</h5>
								<ul>
									<li><a href="{% url 'student_souscription' %}" >S'inscrire</a></li>
									<li><a href="#">Conditions</a></li>
									<li><a href="#">Questions</a></li>
									<li><a href="#">Calendrier Académique</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-12 col-sm-12">
							<div class="widget footer_widget" >
								<h5 class="footer-title">FACULTES</h5>
								<ul>
									<li><a href="{% url 'philosophy_faculty' %}" >Faculté De Philosophie</a></li>
									<li><a href="{% url 'ingenierie_faculty' %}" >Faculté d’Ingeniérie</a></li>
									<li><a href="{% url 'agronomiques_and_veterinaires' %}" >Agronomiques et Vétérinaires</a></li>
								</ul>
							</div>
						</div>
					
				
			
			</div>
		</div>
	</div>

	<div style="background-color: black;" class="pd-20">
		<div class="container text-center">
			<p>Copyright © 2023, Université Loyola. Tous droits réservés</p>
		</div>
	</div>
   
</footer>


<button class="back-to-top fa fa-chevron-up" ></button>