

    <!-- META ============================================= -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />

	<!-- DESCRIPTION -->
	<meta name="description" content="Loyola : University" />
	
	<!-- OG -->
	<meta property="og:title" content="Loyola : University" />
	<meta property="og:description" content="Loyola : University" />
	<meta property="og:image" content="/static/favicon-144x144-1.png" />

	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="/static/favicon-144x144-1.png" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="/static/favicon-144x144-1.png" />


    <!-- MOBILE SPECIFIC ============================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="/static/admin/assets/js/html5shiv.min.js"></script>
	<script src="/static/admin/assets/js/respond.min.js"></script>
	<![endif]-->

    <!-- All PLUGINS CSS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/static/admin/assets/css/assets.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/assets/vendors/calendar/fullcalendar.css">

    <!-- TYPOGRAPHY ============================================= -->
    <link rel="stylesheet" type="text/css" href="/static/admin/assets/css/typography.css">

    <!-- SHORTCODES ============================================= -->
    <link rel="stylesheet" type="text/css" href="/static/admin/assets/css/shortcodes/shortcodes.css">

    <!-- STYLESHEETS ============================================= -->
    <link rel="stylesheet" type="text/css" href="/static/admin/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/assets/css/dashboard.css">
    <link class="skin" rel="stylesheet" type="text/css" href="/static/admin/assets/css/color/color-1.css">
