<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: A propos</title>
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000067), url(/static/assets/images/IMG_0609.JPG); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-12 ">
						<div style="background-color: #eeb421; padding: 50px;margin: 60px 0; border-radius: 10px; color: black;">
							<h1 style="color: black;">A propos</h1>
							<br>
						<p>
                            Inspirer les leaders de demain
						</p>
						<a href="#main" style="color: white;" class="btn btn-secondary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div class="section gray-background" id="main">
			<!-- Popular Courses END -->
			<div class="text-center">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="join-content-bx text-black center">
								<div class="text-center">
									<img src="/static/favicon-144x144-1.png" alt="loyola logo">
								</div>
								<h2>À la poursuite de l’excellence et de l’innovation</h2>
                                <p>Nous formons des acteurs engagés et efficaces de développement local, au service des communautés, de la cohésion sociale et du bien commun.</p>
								<span style="display: inline-block; width: 200px; height: 5px; border-radius: 8px; background-color: #930608;"></span>
                                <p>
                                    Née dans des circonstances de lieu et du temps pour les moins contraignantes et quasi inextricables, l’Université Loyola du Congo (ULC) est à la fois un défi et un espoir. Jeune et vieux à la fois, ce projet qui vise une Université d’excellence en RDC et en Afrique centrale, tient son assurance du passé élogieux de l’enseignement jésuite et de la réputation de la Faculté Saint Pierre Canisius et de l’ex Institut Supérieur Agrovétérinaire (ISAV). Du 5 au 7 janvier 2017, une quinzaine de personnes, dirigeants de l’Université Loyola du Congo, membres du Conseil d’Administration de l’ULC et des personnes ressources, se sont retrouvées pour mener ensemble une réflexion stratégique sur l’avenir de l’Institution.
                                </p>
                                <p>
L’ULC assure un enseignement et une formation de qualité non seulement sur le plan scientifique et technique, mais aussi éthique et religieux. D’autre part, l’ULC organise la recherche scientifique fondamentale et appliquée, orientée vers la solution des problèmes spécifiques du pays et de l’Eglise, compte tenu de l’évolution de la société, de la science, des techniques et de la technologie dans le monde.
                                </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Form END -->
		</div>

		
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <a style="font-size: 100px; color: aquamarine;"><i class="fa fa-graduation-cap"></i></a>
                        <h3>FORMATION LICENCE</h3>
                        <p>Vous cherchez une formation au niveau licence, n’hésitez pas à consulter nos offres dans les trois facultés en parcourant ce site.</p>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <div style="font-size: 100px; color: lightskyblue;"><i class="fa fa-book"></i></div>
                        <h3>FORMATION MASTER</h3>
                        <p>Vous pouvez obtenir un diplôme master dans cinq de nos filières de formation en Philosophie et en Agro-Vétérinaire .</p>
                    </div>
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <div style="font-size: 100px; color: goldenrod;"><i class="fa fa-plane"></i></div>
                        <h3>PROGRAMME D'ÉCHANGE</h3>
                        <p>Les programmes d’échange à l’ULC s’effectuent sur une année ou sur un semestre selon votre niveau d’études et votre discipline.</p>
                    </div>
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <div style="font-size: 100px; color: indianred;"><i class="fa fa-laptop"></i></div>
                        <h3>FORMATION À DISTANCE</h3>
                        <p>L’ULC se prépare à offrir des formations à distance qui offrent la possibilité d’étudier de chez soi. Vous en saurez plus bientôt.</p>
                    </div>

				</div>
                
                
			</div>
		</div>

        <div class="section red-background text-white">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <h2>520</h2>
                        <p>Etudiants</p>
					</div>
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <h2>8</h2>
                        <p>Filières</p>
                    </div>
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <h2>27</h2>
                        <p>Professeur en plein temps</p>
                    </div>
					<div class="col-lg-3 col-md-12 col-sm-12 text-center">
                        <h2>3</h2>
                        <p>Locations</p>
                    </div>

				</div>
			</div>
        </div>


		
        <div class="section gray-background">
			<div class="">

				<div class="container">
					<div class="row d-flex justify-content-between flex-wrap">
						<div class="">
							<h1>Comment s'inscrire ?</h1>
						</div>
						<div class="">
						  <br>
							<a href="#" class="btn">Découvrir Les Conditions</a>
							<br>
						</div>
					</div>
				</div>
			  <div style="padding: 20px;">
				  <div class="container">
					  <style>
						  .order-label{
							  text-decoration: underline; font-size: 100px; font-weight: bold;
							  margin-right: 20px;
							  color: #c7c7c7
						  }
						  .border-x{
							  border-left: 1px solid silver ;
							  border-right: 1px solid silver ;
						  }

						  .order-label.l1 {
							  color: #c7c7c7
						  }
						  .order-label.l2 {
							  color: #dbc7a5
						  }
						  .order-label.l3 {
							  color: #a6e8bc
						  }
					  </style>
					   <div class="row">
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <h2 class="d-flex align-items-center">
								  <span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
							  </h2>
							  <p>
								  Choisissez parmi notre largeéventail de <br>
								  programmes académiques, allant de la  <br>
								  philosophie à l'ingénierieet aux sciences <br>
								  agronomiques et vétérinaires.
							  </p>
						  </div>
						  
						  <div class="col-lg-4 col-md-12 col-sm-12 border-x">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
								  </h2>
								  <p>
										  Rassemblez tous les documents requis pour votre <br>
										  candidature, tels que les relevés de notes, les lettres <br>
										  de recommandationet les pièces d'identité.
								  </p>
							  </div>
						  </div>
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
								  </h2>
								  <p>
											  Une fois votre dossier complet, soumettez votre <br>
											  candidature en ligne via notre portaildédié. <br>
											  Préparez-vous à réjoindre notre communauté <br>
											  académique dynamique à l'ULC.
								  </p>	
							  </div>
						  </div>
					  </div>
					  
				  </div>
			  </div>
			   </div>		 
		</div>

		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>