<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Secretariat Academique</title>
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div  class="page-banner " style="background: linear-gradient(to right, #00000067, #00000067), url(/static/assets/images/IMG_0609.JPG); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-12 ">
						<div style="background-color: #eeb421; padding: 50px;margin: 60px 0; border-radius: 10px; color: black;">
							<h1 style="color: black;">Secrétariat général académique</h1>
							<br>
						<p>
							Le Secrétaire Général Académique est nommé par le
                             Vice-Chancelier de l’Université, pour un mandat de 
                              quatre ans renouvelable une fois.
						</p>
						<a href="#main" style="color: white;" class="btn btn-secondary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div class="section gray-background" id="main">
			<div class="container">
				<div class="row align-items-center">
					<!-- Image du secrétaire général -->
					<div class="col-lg-4 col-md-12 col-sm-12 text-center">
						<img class="br-12 img-fluid" src="/static/assets/images/update/Secretariat general.jpeg" 
							 style="max-height: 400px; width: 100%; object-fit: cover; border-radius: 10px;" 
							 alt="Père Cyprien BWANGILA IBULA"/>
						<h3 class="mt-3">Père Cyprien BWANGILA IBULA, SJ</h3>
						<p class="text-muted">SECRÉTAIRE GÉNÉRAL ACADÉMIQUE</p>
					</div>
		
					<!-- Biographie du secrétaire général -->
					<div class="col-lg-8 col-md-12 col-sm-12">
						<h2>Biographie</h2>
						<p class="text-justify">
							Père Cyprien BWANGILA IBULA, SJ est né le 22 avril 1970 à Kingunda, dans le territoire de Kasongo-Lunda, province du Kwango, en République Démocratique du Congo. De nationalité congolaise, il Prêtre depuis 2001 et membre de la Compagnie de Jésus depuis 1988. Depuis avril 2007, il est professeur associé à la Faculté de Philosophie saint Pierre Canisius. Il a également occupé plusieurs fonctions administratives, notamment celle de Secrétariat général académique (2007-2010) puis doyen (2010-2014) de cette même faculté. De plus, il a été conseiller du Père Provincial des jésuites d’Afrique centrale chargé de la formation entre 2011 et 2014.
						</p>
						<p class="text-justify">
							Parallèlement, Cyprien BWANGILA Ibula est professeur invité en philosophie analytique à l’Université saint Augustin depuis 2012 et enseigne également au Département de Philosophie de l’Université Pédagogique Nationale (UPN) depuis mars 2015. En outre, il a été professeur visiteur dans plusieurs institutions telles que l’Université Mariste au Congo (Kisangani) et le Philosophât Edith Stein entre 2015 et 2016. 
						</p>
						<p class="text-justify">
							Il a aussi exercé comme professeur à temps partiel à la faculté de philosophie de l’Université Catholique du Congo (UCC) entre 2016 et 2023. De plus, il a été Secrétariat général académique de la Faculté de Philosophie de l’Université Loyola du Congo entre 2018 et 2020 avant d'en devenir le secrétaire général académique depuis septembre 2022.
						</p>
						<p class="text-justify">
							
						Actuellement, Cyprien BWANGILA Ibula est professeur à temps plein à l’Université Catholique du Congo depuis mars 2023 et occupe également le poste de chef du département des Sciences des religions et des sociétés à l’UPN pour la période allant de 2022 à 2024.
						</p>
					</div>
				</div>
		
				<hr class="my-5">
		
				<!-- Rôles du secrétaire général -->
				<div class="row">
					<div class="col-lg-12">
						<h2>Rôles du Secrétaire Général Académique</h2>
						<ul class="text-justify">
							<li>Gérer les dossiers des enseignants (recrutement, engagement, promotions).</li>
							<li>Superviser l’apparitorat (inscriptions, horaires, examens).</li>
							<li>Organiser les sessions d’examens et la collation des grades académiques.</li>
							<li>Assurer le bon fonctionnement des facultés et des départements.</li>
							<li>Superviser les bibliothèques, centres de recherche et revues.</li>
							<li>Mettre à jour les règlements académiques.</li>
							<li>Rédiger un rapport semestriel sur la vie académique de l’université.</li>
						</ul>
						<p class="text-center">
							En collaboration avec les doyens, il veille à la bonne organisation des examens, interrogations, stages professionnels et travaux pratiques.
						</p>
					</div>
				</div>
			</div>
		</div>
		


		
		{% include './subscription_guide_section.html' %}

		{% include "footer.html" %}
</div>


<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>