<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Secretariat Academique</title>
	
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background-image:url(/static/assets/images/IMG_0609.JPG); background-attachment: fixed;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-12 text-white">
						<div style="background-color: rgb(255, 119, 0); padding: 50px;margin: 100px 0; border-radius: 10px; color: white;">
							<h1 style="color: white;">Secrétaire Académique</h1>
							<br>
						<p>
							Le Secrétaire Général Académique est nommé par le <br>
                             Vice-Chancelier de l’Université, pour un mandat de <br>
                              quatre ans renouvelable une fois.
						</p>
						<br>
						<br>
						<a href="" style="color: white;" class="btn btn-outline-primary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div class="section gray-background">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12 col-sm-12 ">
						<div >
							
							<img class="br-12" src="/static/assets/images/IMG_0606.JPG" alt=""/>
							
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12" >
						<h1>Secrétaire Académique</h1>
						<p>
							Le Secrétaire Général Académique est membre du Conseil de 
                             l’Établissement et du Comité de Gestion. Il est le Conseiller du 
                              Recteur en matière d’enseignement, de recherche et de formation 
                               continue à l’Université. Il remplace le Recteur en cas d’absence ou 
                                d’empêchement. Il stimule la recherche et veille autant que possible 
                                 à ce qu’elle ait une incidence, à terme, sur la collectivité locale, 
                                  nationale ou internationale. Il assiste le Recteur dans la gestion, la 
                                   supervision et la coordination de tous les services académiques et 
                                    scientifiques de l’Université
						</p>
		
					</div>
				</div>
                
                
			</div>
		</div>

		
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div>
							<h1>Rôles du Secrétaire Académique</h1>
						</div>
						<ul>
							<li>La gestion des dossiers des membres du corps enseignant, au recrutement, à l’engagement, en cas de promotion ou, éventuellement, de résiliation de contrat ;</li>
							<li>La supervision de l’apparitorat, c’est-à-dire le service des inscriptions et des horaires ainsi que l’organisation des examens ;</li>
							<li>Les programmes et l’attribution des cours ; les horaires des cours et leur état d’avancement ;</li>
							<li>L’organisation des sessions d’examens et de toutes autres épreuves d’évaluation, ainsi que la collation des grades académiques ;
							</li>
							<li>Le fonctionnement des conseils des Facultés et des Départements ;</li>
							<li>Le fonctionnement des bibliothèques, des centres de recherche et des revues ;</li>
							<li>La rédaction chaque semestre d’un rapport détaillé sur la vie académique de l’Université ;</li>
							<li>La mise à jour d’une documentation complète de tous les règlements, instructions et circulaires d’ordre académique ;
							</li>
							<br>
							<p style="text-align: center;">
								Le suivi, en collaboration avec les Doyens des Facultés et des Départements, de l’organisation des examens, des interrogations, des travaux pratiques, des stages professionnels, des examens semestriels
	
	
							</p>
						</ul>
					</div>

				</div>
                
                
			</div>
		</div>


		
        <div class="section gray-background">
			<div class="">

			  <div class="container">
				  <div class="row">
					  <div class="col-lg-6 col-md-12 col-sm-12 ">
						  <h1>Comment s'inscrire ?</h1>
					  </div>
					  <div class="col-lg-6 col-md-12 col-sm-12">
						  <a href="#" style="text-decoration: underline; ">Découvrir Les Conditions</a>
					  </div>
				  </div>
			  </div>
			  <br>
			  <div style="padding: 20px;">
				  <div class="container">
					  <style>
						  .order-label{
							  text-decoration: underline; font-size: 100px; font-weight: bold;
							  margin-right: 20px;
							  color: #c7c7c7
						  }
						  .border-x{
							  border-left: 1px solid silver ;
							  border-right: 1px solid silver ;
						  }

						  .order-label.l1 {
							  color: #c7c7c7
						  }
						  .order-label.l2 {
							  color: #dbc7a5
						  }
						  .order-label.l3 {
							  color: #a6e8bc
						  }
					  </style>
					   <div class="row">
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <h2 class="d-flex align-items-center">
								  <span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
							  </h2>
							  <p>
								  Choisissez parmi notre largeéventail de <br>
								  programmes académiques, allant de la  <br>
								  philosophie à l'ingénierieet aux sciences <br>
								  agronomiques et vétérinaires.
							  </p>
						  </div>
						  
						  <div class="col-lg-4 col-md-12 col-sm-12 border-x">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
								  </h2>
								  <p>
										  Rassemblez tous les documents requis pour votre <br>
										  candidature, tels que les relevés de notes, les lettres <br>
										  de recommandationet les pièces d'identité.
								  </p>
							  </div>
						  </div>
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
								  </h2>
								  <p>
											  Une fois votre dossier complet, soumettez votre <br>
											  candidature en ligne via notre portaildédié. <br>
											  Préparez-vous à réjoindre notre communauté <br>
											  académique dynamique à l'ULC.
								  </p>	
							  </div>
						  </div>
					  </div>
					  
				  </div>
			  </div>
			   </div>		 
		</div>

		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>