<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Administrateur du Budget</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background-image:url(/static/assets/images/IMG_0611.JPG); background-attachment: fixed;">
            <div class="container">
				<div class="row">
					<div class="col-6" style="display: flex; flex-wrap: wrap;">
						<div style="background-color: rgb(255, 119, 0); padding: 50px;margin: 100px 0; border-radius: 10px; color: white;">
							<h1 style="color: white;">Administrateur du Budget</h1>
							<br>
						<p>
							L’Administrateur du Budget est nommé par le Vice-Chancelier de l’Université, pour un mandat de quatre ans renouvelable une fois.
						</p>
						<br>
						<br>
						<a href="" style="color: white; text-decoration: underline;">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div class="section">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12 col-sm-12 ">
						<div>
							<img src="/static/assets/images/IMG_0619.JPG" style="border-radius: 10px;" alt=""/>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12">
						<br>
						<h1>Administrateur du Budget</h1>
						<p>
                            Il est chargé de la gestion budgétaire, comptable et financière de l’Université. À la fin de l’exercice, il établit les états financiers de l’Université et les présente au Comité de Gestion. Conformément au Manuel des Procédures de gestion financière de l’Université, il est tenu de dresser avant le 10 de chaque mois, à l’intention du Comité de Gestion, un rapport sur l’exécution du budget commis à leur gestion, reprenant les prévisions des recettes et des dépenses du mois précédent, les réalisations mensuelles des recettes et des dépenses ainsi que les différences entre les prévisions et les réalisations. Il fait le suivi de l’exécution du budget de l’Université. Il coordonne et supervise les prévisions budgétaire de l’Université.
						</p>
						<br>
					</div>
				</div>
			</div>
		</div>

		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>