<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Secretariat Administratif</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000067), url(/static/assets/images/IMG_0611.JPG);  background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="container">
				<div class="row">
					<div  class="col-6" style="display: flex; flex-wrap: wrap;">
						<div style="background-color: #eeb421; padding: 50px; margin: 60px 0; border-radius: 10px; color: black;">
							<h1 style="color: black;">Secrétariat Général Administratif</h1>
							<br>
						<p>
							Le secrétaire Général Administratif est nommé par le Vice-Chancelier de l’Université, pour un mandat de quatre ans renouvelable une fois.
						</p>
						<a href="#main" style="color: white;" class="btn btn-secondary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div>
			<div hidden class="section gray-background">
				<div class="container">
					<div  class="row align-items-center">
						<div class="col-lg-6 col-md-12 col-sm-12 ">
							<div >
								
								<img src="/static/assets/images/IMG_0611.JPG" style="border-radius: 10px;" alt=""/>
								
							</div>
						</div>
						<div  class="col-lg-6 col-md-12 col-sm-12" >
							<h1>Secrétariat Général Administratif</h1>
							<p class="text-justify">
								Le Secrétaire Général Administratif est membre du Conseil de l’Établissement et du Comité de Gestion de l’Université. Il est chargé des questions administratives conformément aux dispositions fixées par l’Autorité de tutelle. Il supervise et coordonne les activités de gestion du personnel, des œuvres estudiantines, du patrimoine, de l’entretien et de la maintenance des infrastructures.
							</p>
							
						</div>
	
					</div><br>
					
				</div>
			</div>
		</div>

		{% comment %} <div class="section">
			
			<div class="container">
				<div class="row">
					<div style="padding-top: 50px;">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div>
							<h1>Rôles du Secrétaire Administratif</h1>
						</div>
						<p class="text-justify">
							Il assure la direction de l’ensemble des services administratifs,
						 la gestion du personnel et des biens de l’Université. Il gère le personnel administratif de l’Université ;
						  il administre les biens, meubles et immeubles ;
						   il supervise les travaux d’aménagement et de construction à l’Université.
						   <br>
						Il élabore, en collaboration avec
						 l’Administrateur du Budget, le projet du budget et du rapport de
						  gestion de l’Université ; il propose le statut du personnel administratif et technique au 
						  Comité de Gestion qui, après avis du Conseil d’Établissement, le soumet au Conseil d’Administration ;
						   il propose les nominations et les promotions du personnel administratif sur lequel il exerce un pouvoir 
						   hiérarchique et disciplinaire.
						</p>
					</div>
				</div>


				</div>
			</div>
		</div> {% endcomment %}

		<div class="section gray-background" id="main">
			<div class="container">
				<div class="row align-items-center">
					<!-- Image du secrétaire général -->
					<div class="col-lg-4 col-md-12 col-sm-12 text-center">
						<img class="br-12 img-fluid" src="/static/assets/images/update/secretaire.jpeg" 
							 style=" width: 100%; object-fit: cover; border-radius: 10px;" 
							 alt="Père Cyprien BWANGILA IBULA"/>
						<h3 class="mt-3">Monsieur Timothée KAKWATA MULENG</h3>
						<p class="text-muted">SECRÉTARIAT GÉNÉRAL ADMINISTRATIF </p>
					</div>
		
					<!-- Biographie du secrétaire général -->
					<div class="col-lg-8 col-md-12 col-sm-12">
						<h2>Biographie</h2>
						<p class="text-justify">
							Né le 06 juillet 1961, Monsieur Timothée KAKWATA MULENG est le troisième Secrétaire Général Administratif de l’ULC depuis sa création sur l’Arrêté ministériel de l’ESU du 21 avril 2016.
						</p>
						<p class="text-justify">
							Titulaire d’un Master en Administration et Gestion des Entreprises Culturelles de l'Institut National des Arts, et d’une spécialisation en Radiodiagnostic à l’Université Navarra en Espagne; Monsieur Timothée est père de famille, chrétien engagé et Autorité académique qui valorise le travail d’équipe, l’efficience et la collaboration interpersonnelle dans son milieu de travail.   
						</p>
						<p class="text-justify">
							Coordonnateur de plusieurs projets de développement en milieu rural (Kwilu) avec des organismes internationaux tels que Manas-Unidas, Gobierno de Navarra, Proclade Yanapay, Nakupenda Africa, Médecins sans vacances, Ayuntamiento de Pamplona, Energy Assistance Belge, Eau Congo, etc.						</p>
						<p class="text-justify">
							
							Ancien Directeur Médico-Techniques de l’Hôpital Général de Référence de Djuma de 1984-2012, ancien Secrétaire Général Administratif de l'ISAV-Kimwenza de 2012-2016; Secrétaire Administratif de la FSAV de 2016 -2024; il est actuellement membre du Comité de Gestion depuis sa nomination comme Secrétaire Général Administratif de l’Uniiversité Loyola du Congo (ULC) en juillet 2024, par le Provincial ACE et Vice-chancelier  de l'ULC pour un mandat de 4 ans, soit de 2024 à 2028.						</p>
					</div>
				</div>
		
				<hr class="my-5">
		
				<!-- Rôles du secrétaire général -->
				<div class="row">
					<div style="padding-top: 50px;">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div>
							<h1>Rôles du Secrétaire Administratif</h1>
						</div>
						<p class="text-justify">
							Il assure la direction de l’ensemble des services administratifs,
						 la gestion du personnel et des biens de l’Université. Il gère le personnel administratif de l’Université ;
						  il administre les biens, meubles et immeubles ;
						   il supervise les travaux d’aménagement et de construction à l’Université.
						   <br>
						Il élabore, en collaboration avec
						 l’Administrateur du Budget, le projet du budget et du rapport de
						  gestion de l’Université ; il propose le statut du personnel administratif et technique au 
						  Comité de Gestion qui, après avis du Conseil d’Établissement, le soumet au Conseil d’Administration ;
						   il propose les nominations et les promotions du personnel administratif sur lequel il exerce un pouvoir 
						   hiérarchique et disciplinaire.
						</p>
					</div>
				</div>
			</div>
		</div>


		{% include './subscription_guide_section.html' %}

		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>