<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Secretariat Administratif</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000067), url(/static/assets/images/IMG_0611.JPG);  background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="container">
				<div class="row">
					<div class="col-6" style="display: flex; flex-wrap: wrap;">
						<div style="background-color: #eeb421; padding: 50px; margin: 60px 0; border-radius: 10px; color: black;">
							<h1 style="color: black;">Secrétariat Administratif</h1>
							<br>
						<p>
							Le secrétaire Général Administratif est nommé par le Vice-Chancelier de l’Université, pour un mandat de quatre ans renouvelable une fois.
						</p>
						<a href="#main" style="color: white;" class="btn btn-secondary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div>
			<div class="section gray-background" id="main">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-12 col-sm-12 ">
							<div >
								
								<img src="/static/assets/images/IMG_0611.JPG" style="border-radius: 10px;" alt=""/>
								
							</div>
						</div>
						<div class="col-lg-6 col-md-12 col-sm-12" >
							<h1>Secrétariat Administratif</h1>
							<p>
								Le Secrétaire Général Administratif est membre du Conseil de l’Établissement et du Comité de Gestion de l’Université. Il est chargé des questions administratives conformément aux dispositions fixées par l’Autorité de tutelle. Il supervise et coordonne les activités de gestion du personnel, des œuvres estudiantines, du patrimoine, de l’entretien et de la maintenance des infrastructures.
							</p>
							
						</div>
	
					</div><br>
					
				</div>
			</div>
		</div>

		<div class="section">
			
			<div class="container">
				<div class="row">
					<div style="padding-top: 50px;">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div>
							<h1>Rôles du Secrétaire Administratif</h1>
						</div>
						<p>
							Il assure la direction de l’ensemble des services administratifs,
						 la gestion du personnel et des biens de l’Université. Il gère le personnel administratif de l’Université ;
						  il administre les biens, meubles et immeubles ;
						   il supervise les travaux d’aménagement et de construction à l’Université.
	
						Il élabore, en collaboration avec
						 l’Administrateur du Budget, le projet du budget et du rapport de
						  gestion de l’Université ; il propose le statut du personnel administratif et technique au 
						  Comité de Gestion qui, après avis du Conseil d’Établissement, le soumet au Conseil d’Administration ;
						   il propose les nominations et les promotions du personnel administratif sur lequel il exerce un pouvoir 
						   hiérarchique et disciplinaire.
						</p>
					</div>
				</div>
				</div>
			</div>
		</div>


        <div class="section gray-background">
			<div class="">

				<div class="container">
					<div class="row d-flex justify-content-between flex-wrap">
						<div class="">
							<h1>Comment s'inscrire ?</h1>
						</div>
						<div class="">
						  <br>
							<a href="#" class="btn">Découvrir Les Conditions</a>
							<br>
						</div>
					</div>
				</div>
			  <div style="padding: 20px;">
				  <div class="container">
					  <style>
						  .order-label{
							  text-decoration: underline; font-size: 100px; font-weight: bold;
							  margin-right: 20px;
							  color: #c7c7c7
						  }
						  .border-x{
							  border-left: 1px solid silver ;
							  border-right: 1px solid silver ;
							  margin-top: 30px;
							  margin-bottom: 30px;
						  }

						  .order-label.l1 {
							  color: #c7c7c7
						  }
						  .order-label.l2 {
							  color: #dbc7a5
						  }
						  .order-label.l3 {
							  color: #a6e8bc
						  }
					  </style>
					   <div class="row align-items-center">
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <h2 class="d-flex align-items-center">
								  <span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
							  </h2>
							  <p>
								  Choisissez parmi notre largeéventail de <br>
								  programmes académiques, allant de la  <br>
								  philosophie à l'ingénierieet aux sciences <br>
								  agronomiques et vétérinaires.
							  </p>
						  </div>
						  
						  <div class="col-lg-4 col-md-12 col-sm-12 border-x">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
								  </h2>
								  <p>
										  Rassemblez tous les documents requis pour votre <br>
										  candidature, tels que les relevés de notes, les lettres <br>
										  de recommandationet les pièces d'identité.
								  </p>
							  </div>
						  </div>
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
								  </h2>
								  <p>
											  Une fois votre dossier complet, soumettez votre <br>
											  candidature en ligne via notre portaildédié. <br>
											  Préparez-vous à réjoindre notre communauté <br>
											  académique dynamique à l'ULC.
								  </p>	
							  </div>
						  </div>
					  </div>
					  
				  </div>
			  </div>
			   </div>		 
		</div>

		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>