<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Alumnis</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000072), url(/static/assets/images/img2.jpg); background-attachment: fixed; background-size: cover; background-repeat: no-repeat; background-position: center;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6  col-md-12 col-sm-12">
						<div style="background-color: #eeb421; margin: 60px 0; padding: 50px;  border-radius: 10px; color: black;">
							<h1 style="color: black;">Alumnis</h1>
							<br>
						<p>
							Les alumni de l’Université Loyola du Congo sont les diplômés dont la mission principale est d’aider
l’Université à poursuivre sa tâche éducative en lui apportant leurs expertises et leurs compétences sous
différentes formes.
						</p>
						<a href="#main" class="btn btn-secondary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div class="section" id="main">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12 col-sm-12 ">
						<div>
							<div>
								<img src="/static/assets/images/IMG_0619.JPG" style="border-radius: 10px;" alt="">
							</div>

							
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12" >
						<br>
						<div>
							<h1>Alumnis</h1>
						<p>
                            Les alumni de l’Université Loyola du Congo sont les diplômés dont la mission principale est d’aider l’Université à poursuivre sa tâche éducative en lui apportant leurs expertises et leurs compétences sous différentes formes. Ils ont vocation à prolonger les liens de fraternité, et à développer la communication et la solidarité au sein de la communauté des diplômés. Ils ont également la mission de promouvoir la visibilité, le support essentiel à l’employabilité de tous les diplômés et élément clé de la pérennité de l’Université.
                            Ils constituent alors un formidable moyen de maintenir le lien entre le passé et le futur, de favoriser l’entraide et la solidarité entre diplômés, de perpétuer les valeurs de l’Université telles que: l’excellence et l’éthique professionnelle, l’engagement, le partage, la solidarité et le vivre ensemble.
						</p>
						</div>
						<br>
					</div>
					
				</div>
			</div>
		</div>
		<div class="section gray-background">
			<div class="container">
                <div class="row">
               
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div>
                            <h1>Autres actions principales</h1>
                            <p>Pour chaque promotion, il est élu un Chef de Promotion (C.P.) et un Chef de Promotion Adjoint
                                (C.P.A.). <br>
                                – Le Chef de Promotion est chargé de promouvoir tout ce qui est susceptible d’améliorer le système
                                d’enseignement et de concourir à la réalisation des objectifs de l’ULC. Il veille, avec l’appariteur, les
                                enseignants et les autorités académiques, à la bonne organisation des enseignements et des travaux
                                pratiques, de la bibliothèque et, en général, des activités de la promotion.
                                Il lui revient notamment:</p>
                                
                        </div>
						
                    </div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<div style="padding-top: 60px;">
							<ul>
								<li>de veiller à la signature des registres de cours;</li>
								<li>de centraliser la commande et la distribution des syllabus;</li>
								<li>de formuler des suggestions et des propositions quant à l’organisation des examens partiels et des examens hors session ;</li>
								<li>de faire au délégué les suggestions utiles relatives aux points inscrits ou à faire inscrire à l’ordre du jour du Conseil de Faculté.
									Dans le cas où plusieurs promotions suivent simultanément un même enseignement, le Chef de
									Promotion la plus nombreuse assurera d’office le rôle de Chef de Promotion concernant cet
									enseignement. Il veillera cependant à associer à ses démarches les autres Chefs de Promotion,
									spécialement pour ce qui regarde les horaires des cours et des examens.

								</li>
								<li>
									Le Chef de Promotion Adjoint assiste le Chef de Promotion dans l’ensemble de ses attributions et le
									remplace en cas d’absence.
								</li>
							</ul>
						</div>
						
					</div>
                    
                </div>
               
			</div>
		</div>
        <div class="page-content bg-white">
            <!-- inner page banner -->
           
            <!-- Breadcrumb row END -->
            <!-- contact area -->
            <div class="content-block">
                <!-- Portfolio  -->
                <div class="section-area section-sp1 gallery-bx">
                    <div class="container">
                     
                        <div class="clearfix">
                            <ul id="masonry" class="ttr-gallery-listing magnific-image row" style="list-style: none;">
                                {% for alumni in alumnis  %}
                                <li class="action-card col-lg-4 col-md-4 col-sm-6 book">
                                    <div class="ttr-box portfolio-bx">
                                        <div class="ttr-media media-ov2 media-effect" style="border-radius: 8px; overflow: hidden;">
                                            <a href="javascript:void(0);">
                                                <img src="{{ alumni.image_url }}" alt=""> 
                                            </a>
                                            <div class="ov-box">
                                                <div class="overlay-icon align-m"> 
                                                    <a href="#" class="magnific-anchor" title="Title Come Here">
                                                        <i class="ti-search"></i>
                                                    </a>
                                                </div>
                                                <div class="portfolio-info-bx bg-primary">
                                                    <small><a href="#">{{alumni.description}}</a></small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between flex-wrap">
                                            <h4>{{alumni.name}}</h4>
                                            <p>{{alumni.diploma_year}}</p>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- contact area END -->
        </div>

		<div class="section gray-background">
			<div class="">
	
			  <div class="container">
				  <div class="row">
					  <div class="col-lg-6 col-md-12 col-sm-12 ">
						  <h1>Comment s'inscrire ?</h1>
					  </div>
					  <div class="col-lg-6 col-md-12 col-sm-12">
						  <a href="#" style="text-decoration: underline; ">Découvrir Les Conditions</a>
					  </div>
				  </div>
			  </div>
			  <br>
			  <div style="padding: 20px;">
				  <div class="container">
					  <style>
						  .order-label{
							  text-decoration: underline; font-size: 100px; font-weight: bold;
							  margin-right: 20px;
							  color: #c7c7c7
						  }
						  .border-x{
							  border-left: 1px solid silver ;
							  border-right: 1px solid silver ;
							  margin-top: 30px;
							  margin-bottom: 30px;
						  }
	
						  .order-label.l1 {
							  color: #c7c7c7
						  }
						  .order-label.l2 {
							  color: #dbc7a5
						  }
						  .order-label.l3 {
							  color: #a6e8bc
						  }
					  </style>
					   <div class="row align-items-center">
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <h2 class="d-flex align-items-center">
								  <span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
							  </h2>
							  <p>
								  Choisissez parmi notre largeéventail de <br>
								  programmes académiques, allant de la  <br>
								  philosophie à l'ingénierieet aux sciences <br>
								  agronomiques et vétérinaires.
							  </p>
						  </div>
						  
						  <div class="col-lg-4 col-md-12 col-sm-12 border-x">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
								  </h2>
								  <p>
										  Rassemblez tous les documents requis pour votre <br>
										  candidature, tels que les relevés de notes, les lettres <br>
										  de recommandationet les pièces d'identité.
								  </p>
							  </div>
						  </div>
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
								  </h2>
								  <p>
											  Une fois votre dossier complet, soumettez votre <br>
											  candidature en ligne via notre portaildédié. <br>
											  Préparez-vous à réjoindre notre communauté <br>
											  académique dynamique à l'ULC.
								  </p>	
							  </div>
						  </div>
					  </div>
					  
				  </div>
			  </div>
			   </div>		 
		</div>
		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>