<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: BDE</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background-image:url(/static/assets/images/IMG_2247.JPG); background-attachment: fixed;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12" style="display: flex; flex-wrap: wrap;">
						<div style="background-color: rgb(255, 119, 0); padding: 50px;margin: 100px 0; border-radius: 10px; color: white;">
							<h1 style="color: white;">Bureau des Etudiants</h1>
							<br>
						<p>
							Choisir ULC, c’est choisir la voie de la réussite: le taux de placement de nos diplômées et diplômés est supérieur à 90 %. Certains d’entre eux ont même un poste avant la fin de leurs études!
						</p>
						<br>
						<br>
						<a href="" style="color: white; text-decoration: underline;">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>
		
		<div class="section gray-background">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-12 col-sm-12 ">
						<div>
							
							<img src="/static/assets/images/IMG_0612.JPG" style="border-radius: 10px;" alt=""/>
							
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12" style="padding: 50px; margin: 0px;">
						<br>
						<h1>Bureau des Etudiants</h1>
						<p>
                            Les étudiants sont représentés :
						</p>
                        <ul>
                            <li>Au niveau de l’Institution : par un Conseil des Etudiants ;</li>
                            <li>Au niveau de chaque Faculté : par un Délégué et un Délégué Adjoint ;</li>
                            <li>Au niveau des promotions : par un Chef de Promotion et un Chef de Promotion Adjoint.</li>
                        </ul>
                        <p>
                            Le Conseil des Étudiants est composé du Président des Étudiants qui le préside, du Vice-Président,
du Secrétaire, des Délégués et Délégués Adjoints des Facultés Et de l’Étudiant Responsable du Comité
d’Animation Spirituelle des Étudiants Laïcs (C.A.S.E.L.). C’est un organe de coordination par lequel
le Président est informé des problèmes estudiantins des diverses Facultés Et Départements et rend
compte aux étudiants de ses démarches et de leur aboutissement.
                        </p>
						<br>
					</div>

				</div>
			</div>
		</div>
		
		<div class="section">
			<div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div style="padding: 20px;">
                            <h1> Le Président des Étudiants</h1>
                            <p>
                             Le Président des Étudiants est responsable devant les autorités académiques de toute question en
     rapport avec la vie communautaire des étudiants au niveau de l’Institution. Il est chargé de
     promouvoir au niveau des étudiants la réalisation des objectifs de l’ULC. Il convoque et préside, au
     moins une fois par mois, le Conseil des Etudiants. Il peut, avec l’accord du Comité de Direction,
     déléguer son autorité pour des objectifs spécifiques, notamment en matière de sports et d’activités
     socio-culturelles.
                            </p>
                            <ul>
                             <li>Le Vice-Président assiste le Président dans l’ensemble de ses attributions et le remplace en cas d’absence. Il peut être chargé par le Conseil des Etudiants de tâches précises.</li>
                             <li>Le Secrétaire du Conseil des Étudiants établit le rapport des réunions du Conseil des Étudiants ; il garde les archives du Conseil Étudiants.</li>
                             <li>Le Délégué et le Délégué Adjoint sont les représentants des étudiants d’une faculté. Ils assistent avec voix consultative aux réunions du Conseil de Faculté, conformément au Règlement Intérieur de la faculté.Tout en gardant la discrétion requise sur les personnes ayant pris la parole dans les délibérations, le délégué Des Étudiants est tenu d’informer les étudiants de sa Faculté des décisions prises par le conseil de Faculté Et éventuellement de leur en expliquer la portée. Il le fait par le canal des Chefs de Promotion. Le délégué fait au Président des Étudiants les suggestions utiles relatives aux problèmes généraux des étudiants et l’informe des démarches effectuées ou entreprises dans le cadre de son mandat. Le Délégué Adjoint assiste le délégué dans l’ensemble de ses attributions et le remplace en cas d’absence. Il peut être chargé par le délégué de tâches précises.</li>
                            </ul>
                         </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div style="padding: 20px;">
                            <h1>Le Chef de Promotion</h1>
                            <p>Pour chaque promotion, il est élu un Chef de Promotion (C.P.) et un Chef de Promotion Adjoint
                                (C.P.A.). <br>
                                – Le Chef de Promotion est chargé de promouvoir tout ce qui est susceptible d’améliorer le système
                                d’enseignement et de concourir à la réalisation des objectifs de l’ULC. Il veille, avec l’appariteur, les
                                enseignants et les autorités académiques, à la bonne organisation des enseignements et des travaux
                                pratiques, de la bibliothèque et, en général, des activités de la promotion.
                                Il lui revient notamment:</p>
                                <ul>
                                    <li>de veiller à la signature des registres de cours;</li>
                                    <li>de centraliser la commande et la distribution des syllabus;</li>
                                    <li>de formuler des suggestions et des propositions quant à l’organisation des examens partiels et des examens hors session ;</li>
                                    <li>de faire au délégué les suggestions utiles relatives aux points inscrits ou à faire inscrire à l’ordre du jour du Conseil de Faculté.
                                        Dans le cas où plusieurs promotions suivent simultanément un même enseignement, le Chef de
Promotion la plus nombreuse assurera d’office le rôle de Chef de Promotion concernant cet
enseignement. Il veillera cependant à associer à ses démarches les autres Chefs de Promotion,
spécialement pour ce qui regarde les horaires des cours et des examens.

                                    </li>
                                    <li>
                                        Le Chef de Promotion Adjoint assiste le Chef de Promotion dans l’ensemble de ses attributions et le
                                        remplace en cas d’absence.
                                    </li>
                                </ul>
                        </div>
                    </div>
                    
                </div>
               
			</div>
		</div>

		<div class="section gray-background">
			<div class="">
	
			  <div class="container">
				  <div class="row">
					  <div class="col-lg-6 col-md-12 col-sm-12 ">
						  <h1>Comment s'inscrire ?</h1>
					  </div>
					  <div class="col-lg-6 col-md-12 col-sm-12">
						  <a href="#" style="text-decoration: underline; ">Découvrir Les Conditions</a>
					  </div>
				  </div>
			  </div>
			  <br>
			  <div style="padding: 20px;">
				  <div class="container">
					  <style>
						  .order-label{
							  text-decoration: underline; font-size: 100px; font-weight: bold;
							  margin-right: 20px;
							  color: #c7c7c7
						  }
						  .border-x{
							  border-left: 1px solid silver ;
							  border-right: 1px solid silver ;
							  margin-top: 30px;
							  margin-bottom: 30px;
						  }
	
						  .order-label.l1 {
							  color: #c7c7c7
						  }
						  .order-label.l2 {
							  color: #dbc7a5
						  }
						  .order-label.l3 {
							  color: #a6e8bc
						  }
					  </style>
					   <div class="row align-items-center">
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <h2 class="d-flex align-items-center">
								  <span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
							  </h2>
							  <p>
								  Choisissez parmi notre largeéventail de <br>
								  programmes académiques, allant de la  <br>
								  philosophie à l'ingénierieet aux sciences <br>
								  agronomiques et vétérinaires.
							  </p>
						  </div>
						  
						  <div class="col-lg-4 col-md-12 col-sm-12 border-x">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
								  </h2>
								  <p>
										  Rassemblez tous les documents requis pour votre <br>
										  candidature, tels que les relevés de notes, les lettres <br>
										  de recommandationet les pièces d'identité.
								  </p>
							  </div>
						  </div>
						  <div class="col-lg-4 col-md-12 col-sm-12">
							  <div>
								  <h2 class="d-flex align-items-center">
									  <span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
								  </h2>
								  <p>
											  Une fois votre dossier complet, soumettez votre <br>
											  candidature en ligne via notre portaildédié. <br>
											  Préparez-vous à réjoindre notre communauté <br>
											  académique dynamique à l'ULC.
								  </p>	
							  </div>
						  </div>
					  </div>
					  
				  </div>
			  </div>
			   </div>		 
		</div>
		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>