<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Contact</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000067), url(/static/assets/images/IMG_0612.JPG); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12" style="display: flex; flex-wrap: wrap;">
						<div style="background-color: #eeb421; padding: 50px; margin-top: 100px; margin-bottom: 100px; border-radius: 10px; color: black;">
							<h1 style="color: black;">Contact</h1>
							<br>
						<p>
							Le recteur est nommé par le Grand Chancelier,pour un
							mandat de quatre ans renouvelable une fois.
						</p>
						<a href="#main" style="color: white;" class="btn btn-secondary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>


        <div class="container section" id="main">
            <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12">
                <div>
					<h1>Joindre l'Université</h1>
					<p class="text-justify">
						Nous sommes impatients de vous entendre et de vous assister dans votre 
						parcours éducatif ou toute autre demande que vous pourriez avoir. Votre 
						interaction avec nous est précieuse, et nous nous engageons à vous fournir une 
						réponse rapide et pertinente.
					</p>
                </div>
               </div>
			   <div class="col-lg-6 col-md-12 col-sm-12">
					<form action="" method="post">
						<div>
							<input type="text" name="name" id="email" placeholder="Ecrivez votre nom">
						</div>
						<br>
						<div>
							<input type="email" name="email" id="email" placeholder="Ecrivez votre mail">
						</div>
						<br>
						<div>
							<input type="text" name="object" id="email" placeholder="Object">
						</div>
						<br>
						<div>
							<textarea name="" id="textarea" cols="30" rows="10" placeholder="Votre message"></textarea>
						</div>
						<br>
						<div>
							<button class="btn">Envoyer</button>
						</div>
					</form>
			   </div>
            </div>
        </div>
		
		

		{% include './subscription_guide_section.html' %}

		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>