<!DOCTYPE html>
<html lang="en">

<head>
	
	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Cours</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">

		<section class="pop-cour">
			<div class="container com-sp pad-bot-70">
				<div class="row">
					<div class="con-title">
						<h2>All <span>Courses</span></h2>
						<p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-1.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Aerospace Engineering</h3>
									</a>
									<h4>Technology / Space / Aerospace</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>10 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-2.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Agriculture Courses</h3>
									</a>
									<h4>Technology / Space / Aerospace</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>40 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 320</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-3.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Marine Engineering</h3>
									</a>
									<h4>Technology / Ocean / Marine</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>04 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 1020</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-4.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Building, Construction Management</h3>
									</a>
									<h4>Technology / Construction / Building</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>32 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 124</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-5.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Fashion Technology</h3>
									</a>
									<h4>Technology / Trends / Fashion</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>10 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 570</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-6.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Agriculture Courses</h3>
									</a>
									<h4>Technology / Space / Aerospace</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>40 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 320</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-7.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Marine Engineering</h3>
									</a>
									<h4>Technology / Ocean / Marine</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>04 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 1020</a> </li>
										</ul>
									</div>
								</div>
							</div>
							<!--POPULAR COURSES-->
							<div class="home-top-cour">
								<!--POPULAR COURSES IMAGE-->
								<div class="col-md-3"> <img src="images/course/sm-8.jpg" alt=""> </div>
								<!--POPULAR COURSES: CONTENT-->
								<div class="col-md-9 home-top-cour-desc">
									<a href="course-details.html">
										<h3>Building, Construction Management</h3>
									</a>
									<h4>Technology / Construction / Building</h4>
									<p>Classes started from coming friday(21 jun 2017),total seats 72 and available seats 10</p> <span class="home-top-cour-rat">4.2</span>
									<div class="hom-list-share">
										<ul>
											<li><a href="course-details.html"><i class="fa fa-bar-chart" aria-hidden="true"></i> Book Now</a> </li>
											<li><a href="course-details.html"><i class="fa fa-eye" aria-hidden="true"></i>32 Aavailable</a> </li>
											<li><a href="course-details.html"><i class="fa fa-share-alt" aria-hidden="true"></i> 124</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
		<!--SECTION START-->
		<section>
			<div class="full-bot-book">
				<div class="container">
					<div class="row">
						<div class="bot-book">
							<div class="col-md-2 bb-img">
								<img src="images/3.png" alt="">
							</div>
							<div class="col-md-7 bb-text">
								<h4>therefore always free from repetition</h4>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
							</div>
							<div class="col-md-3 bb-link">
								<a href="course-details.html">Book This Course</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--SECTION END-->
	
		<!--HEADER SECTION-->
		<section class="wed-hom-footer">
			<div class="container">
				<!--<div class="row">
					<div class="col-md-12">
					<h4>About Wedding Planner</h4>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
					<p>more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p></p>
				  </div>
				  </div>-->
				<div class="row wed-foot-link">
					<div class="col-md-4 foot-tc-mar-t-o">
						<h4>Top Courses</h4>
						<ul>
							<li><a href="course-details.html">Accounting/Finance</a></li>
							<li><a href="course-details.html">civil engineering</a></li>
							<li><a href="course-details.html">Art/Design</a></li>
							<li><a href="course-details.html">Marine Engineering</a></li>
							<li><a href="course-details.html">Business Management</a></li>
							<li><a href="course-details.html">Journalism/Writing</a></li>
							<li><a href="course-details.html">Physical Education</a></li>
							<li><a href="course-details.html">Political Science</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h4>New Courses</h4>
						<ul>
							<li><a href="course-details.html">Sciences</a></li>
							<li><a href="course-details.html">Statistics</a></li>
							<li><a href="course-details.html">Web Design/Development</a></li>
							<li><a href="course-details.html">SEO</a></li>
							<li><a href="course-details.html">Google Business</a></li>
							<li><a href="course-details.html">Graphics Design</a></li>
							<li><a href="course-details.html">Networking Courses</a></li>
							<li><a href="course-details.html">Information technology</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h4>HELP & SUPPORT</h4>
						<ul>
							<li><a href="#">24x7 Live help</a>
							</li>
							<li><a href="#">Contact us</a>
							</li>
							<li><a href="#">Feedback</a>
							</li>
							<li><a href="#">FAQs</a>
							</li>
							<li><a href="#">Safety Tips</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="row wed-foot-link-1">
					<div class="col-md-4 foot-tc-mar-t-o">
						<h4>Get In Touch</h4>
						<p>Address: 28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</p>
						<p>Phone: <a href="#!">+101-1231-4321</a></p>
						<p>Email: <a href="#!">info@edu.com</a></p>
					</div>
					<div class="col-md-4">
						<h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
						<ul>
							<li><a href="#"><span class="sprite sprite-android"></span></a>
							</li>
							<li><a href="#"><span class="sprite sprite-ios"></span></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<h4>SOCIAL MEDIA</h4>
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--END HEADER SECTION-->
	
		<!--HEADER SECTION-->
		<section class="wed-rights">
			<div class="container">
				<div class="row">
					<div class="copy-right">
					   <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
					</div>
				</div>
			</div>
		</section>
		<!--END HEADER SECTION-->
	
		<!--SECTION LOGIN, REGISTER AND FORGOT PASSWORD-->
		<section>
			<!-- LOGIN SECTION -->
			<div id="modal1" class="modal fade" role="dialog">
				<div class="log-in-pop">
					<div class="log-in-pop-left">
						<h1>Hello...</h1>
						<p>Don't have an account? Create your account. It's take less then a minutes</p>
						<h4>Login with social media</h4>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
							</li>
							<li><a href="#"><i class="fa fa-google"></i> Google+</a>
							</li>
							<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
							</li>
						</ul>
					</div>
					<div class="log-in-pop-right">
						<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
						</a>
						<h4>Login</h4>
						<p>Don't have an account? Create your account. It's take less then a minutes</p>
						<form class="s12">
							<div>
								<div class="input-field s12">
									<input type="text" data-ng-model="name" class="validate">
									<label>User name</label>
								</div>
							</div>
							<div>
								<div class="input-field s12">
									<input type="password" class="validate">
									<label>Password</label>
								</div>
							</div>
							<div>
								<div class="s12 log-ch-bx">
									<p>
										<input type="checkbox" id="test5" />
										<label for="test5">Remember me</label>
									</p>
								</div>
							</div>
							<div>
								<div class="input-field s4">
									<input type="submit" value="Login" class="waves-effect waves-light log-in-btn"> </div>
							</div>
							<div>
								<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Forgot password</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- REGISTER SECTION -->
			<div id="modal2" class="modal fade" role="dialog">
				<div class="log-in-pop">
					<div class="log-in-pop-left">
						<h1>Hello...</h1>
						<p>Don't have an account? Create your account. It's take less then a minutes</p>
						<h4>Login with social media</h4>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
							</li>
							<li><a href="#"><i class="fa fa-google"></i> Google+</a>
							</li>
							<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
							</li>
						</ul>
					</div>
					<div class="log-in-pop-right">
						<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
						</a>
						<h4>Create an Account</h4>
						<p>Don't have an account? Create your account. It's take less then a minutes</p>
						<form class="s12">
							<div>
								<div class="input-field s12">
									<input type="text" data-ng-model="name1" class="validate">
									<label>User name</label>
								</div>
							</div>
							<div>
								<div class="input-field s12">
									<input type="email" class="validate">
									<label>Email id</label>
								</div>
							</div>
							<div>
								<div class="input-field s12">
									<input type="password" class="validate">
									<label>Password</label>
								</div>
							</div>
							<div>
								<div class="input-field s12">
									<input type="password" class="validate">
									<label>Confirm password</label>
								</div>
							</div>
							<div>
								<div class="input-field s4">
									<input type="submit" value="Register" class="waves-effect waves-light log-in-btn"> </div>
							</div>
							<div>
								<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> </div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- FORGOT SECTION -->
			<div id="modal3" class="modal fade" role="dialog">
				<div class="log-in-pop">
					<div class="log-in-pop-left">
						<h1>Hello... </h1>
						<p>Don't have an account? Create your account. It's take less then a minutes</p>
						<h4>Login with social media</h4>
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
							</li>
							<li><a href="#"><i class="fa fa-google"></i> Google+</a>
							</li>
							<li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
							</li>
						</ul>
					</div>
					<div class="log-in-pop-right">
						<a href="#" class="pop-close" data-dismiss="modal"><img src="images/cancel.png" alt="" />
						</a>
						<h4>Forgot password</h4>
						<p>Don't have an account? Create your account. It's take less then a minutes</p>
						<form class="s12">
							<div>
								<div class="input-field s12">
									<input type="text" data-ng-model="name3" class="validate">
									<label>User name or email id</label>
								</div>
							</div>
							<div>
								<div class="input-field s4">
									<input type="submit" value="Submit" class="waves-effect waves-light log-in-btn"> </div>
							</div>
							<div>
								<div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Are you a already member ? Login</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Create a new account</a> </div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	
		<section>

    </div>
	
	{% include "footer.html" %}
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>