<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Philosophie</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background-image:url(/static/assets/images/IMG_2252.JPG); background-attachment: fixed;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<div style="background-color: rgb(255, 119, 0); padding: 50px; margin: 100px 0; margin-bottom: 100px; border-radius: 10px; color: white;">
							<h1 style="color: white;">Faculté de Philosophie</h1>
							<br>
						<p>
							Le recteur est nommé par le Grand Chancelier,pour un <br>
							mandat de quatre ans renouvelable une fois.
						</p>
						<br>
						<br>
						<a href="" style="color: white;" class="btn btn-outline-primary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>


       <div class="section gray-background">
		<div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div>
                    <h1>Aperçus</h1>
                    <p>
                        Depuis sa fondation en 1954, elle a formé des philosophes qui œuvrent dans tous les domaines,
                         notamment dans la Compagnie de Jesus et dans plusieurs congrégations religieuses, aux niveaux
                          supérieurs de l’Eglise catholique, de la fonction publique et du système congolais d’éducation.
                           La Faculté de philosophie se veut généraliste au 1er cycle, se donnant pour mission d’introduire
                            les étudiants aux grands axes de l’interrogation philosophique (logique, éthique, philosophie
                             politique, esthétique, métaphysique, épistémologie, cosmologie), à la pensée des principaux
                              philosophes et des principales traditions qui ont marqué l’histoire de la philosophie et ses
                               manifestations contemporaines, ainsi qu’aux enjeux philosophiques des débats
                                qui ont cours dans nos sociétés. Nous réservons la spécialisation pour le 2e cycle,
                                 où nous avons les ressources pour encadrer de façon très sérieuse des recherches en plusieurs domaines.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th><a href="">Public-cible : Diplômé D'état</a></th>
                            
                        </tr>
                        <tr>
                            <th><a href="">Début du Programme : 1954</a></th>
                        </tr>
                        <tr>
                            <th><a href="">Site : Kimwenza</a></th>
                        </tr>
                        <tr>
                            <td><a href="" class="btn">S'inscrire Maintenant</a></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
	</div>
        
        
       </div>
       <div class="section">
		<div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                    <a href=""><h1>Objectifs spécifiques</h1></a>
                    <div>
                        <ul>
                            <li>Assurer une formation philosophique de niveau universitaire</li>
                            <li>Garantir l’étude des branches philosophiques requises pour les études de théologie et pour la formation sacerdotale telle que prévue par les normes de l’Eglise et de la Compagnie de Jésus</li>
                            <li>Introduire à l’analyse des problèmes majeurs posés à l’homme face aux changements et à l’évolution du monde d’aujourd’hui</li>
                            <li>Collaborer à l’épanouissement d’une philosophie assumant les valeurs socio-culturelles africaines.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                    <a href=""><h1>Historique et Mission</h1></a>
                    <p>
                        La Faculté de Philosophie, qui existe  depuis 1954, a  un programme de graduat et de licence. EN 1999, 
                         la Faculté de philosophie est agréée à la Faculté de Philosophie de
                          l’Université Pontificale de Rome, par le décret n° 1562/99 de
                           la Sacrée Congrégation pour l’Education Catholique. Cette agrégation concerne
                            les deux cycles et autorise dès lors à décerner les diplômes de baccalauréat
                             et de licence en philosophie. En 2006, le décret présidentiel n° 06/0106 du 12 juin 2006
                              a accordé l’agrément définitif à la « Faculté de philosophie Saint Pierre Canisius » 
                              et la reconnaît comme une institution d’enseignement universitaire en RDC.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                    <a href=""><h1>Programme Détaillé</h1></a>
                    <div>
                        <ul>
                            <li>Licence en Philosophie</li>
                            <li>Master en Philosophie politique et morale</li>
                            <li>Master en Métaphysique et histoire de la philosophie</li>
                            <li>Agrégation</li>
                        </ul>
                    </div>
                    <p>
                        UE : unité d’enseignement constituant un ensemble des cours. 
                         La charge globale de l’UE est mesurée par le crédit : 
                         1 CRÉDIT = 25 à 30 heures des Cours magistraux (CM), 
                         des travaux dirigés (TD), des travaux pratiques (TP) 
                         et des travaux personnels étudiants (TPE).
                    </p>
                </div>
            </div>
        </div>
	</div>
       </div>
		

	   	<div class="section gray-background">
		<div class="">

		  <div class="container">
			  <div class="row">
				  <div class="col-lg-6 col-md-12 col-sm-12 ">
					  <h1>Comment s'inscrire ?</h1>
				  </div>
				  <div class="col-lg-6 col-md-12 col-sm-12">
					  <a href="#" style="text-decoration: underline; ">Découvrir Les Conditions</a>
				  </div>
			  </div>
		  </div>
		  <br>
		  <div style="padding: 20px;">
			  <div class="container">
				  <style>
					  .order-label{
						  text-decoration: underline; font-size: 100px; font-weight: bold;
						  margin-right: 20px;
						  color: #c7c7c7
					  }
					  .border-x{
						  border-left: 1px solid silver ;
						  border-right: 1px solid silver ;
						  margin-top: 30px;
						  margin-bottom: 30px;
					  }

					  .order-label.l1 {
						  color: #c7c7c7
					  }
					  .order-label.l2 {
						  color: #dbc7a5
					  }
					  .order-label.l3 {
						  color: #a6e8bc
					  }
				  </style>
				   <div class="row align-items-center">
					  <div class="col-lg-4 col-md-12 col-sm-12">
						  <h2 class="d-flex align-items-center">
							  <span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
						  </h2>
						  <p>
							  Choisissez parmi notre largeéventail de <br>
							  programmes académiques, allant de la  <br>
							  philosophie à l'ingénierieet aux sciences <br>
							  agronomiques et vétérinaires.
						  </p>
					  </div>
					  
					  <div class="col-lg-4 col-md-12 col-sm-12 border-x">
						  <div>
							  <h2 class="d-flex align-items-center">
								  <span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
							  </h2>
							  <p>
									  Rassemblez tous les documents requis pour votre <br>
									  candidature, tels que les relevés de notes, les lettres <br>
									  de recommandationet les pièces d'identité.
							  </p>
						  </div>
					  </div>
					  <div class="col-lg-4 col-md-12 col-sm-12">
						  <div>
							  <h2 class="d-flex align-items-center">
								  <span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
							  </h2>
							  <p>
										  Une fois votre dossier complet, soumettez votre <br>
										  candidature en ligne via notre portaildédié. <br>
										  Préparez-vous à réjoindre notre communauté <br>
										  académique dynamique à l'ULC.
							  </p>	
						  </div>
					  </div>
				  </div>
				  
			  </div>
		  </div>
		   </div>		 
		</div>
		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>