<!DOCTYPE html>
<html lang="en">

<head>

	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Rectorat</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	
	{% include "header.html" %}

    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000076), url(/static/assets/images/IMG_0611.JPG); background-attachment: fixed; background-size: cover; background-position: center;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-sm-12 text-white" style="margin: 100px 0;">
						<br>
						<div  class="container pd-20 br-12 blur-background">
							<h1>Rectorat</h1>
							<br>
						<p>
							Le recteur est nommé par le Grand Chancelier,pour un <br>
							mandat de quatre ans renouvelable une fois.
						</p>
						<a href="#main" style="color: white;" class="btn">EN SAVOIR PLUS</a>
						</div>
					</div>
				</div>
			</div>
        </div>
		
		<div class="section" id="main">
			<div class="container">
				<div class="row align-items-center d-flex">
					<div class="col-lg-6 col-md-12 col-sm-12 ">
						<div >
						
							<img class="br-12"  src="/static/assets/images/Anderson-FACULTY-PHYSICS-_COMP-SCI_0043sm.jpg"  style="max-height: 500px; width: 100%; object-fit: cover; object-position: top;" alt=""/>
							
						</div>
					</div>
					<div class="col-lg-6 col-md-12 col-sm-12" style="padding: 50px; margin: 0px;">
						<h1>ULC: Le Recteur</h1>
						<p>
							Le recteur est d'office membre du conseil d'Administration de <br>
							 l'Université et du conseil de l'Etablissement. Le Recteursupervise et <br>
							 coordonne l'ensemble des activités de l'Université. <br>
							 Rencontrez notre visionnaire Recteur, le chef d'orchestre inspiré qui <br>
							 guide l'Université Loyola du Congo (ULC) vers l'excellence <br>
							 académique et l'innovation. Découvrez sa passion pour l'éducation <br>
							 son engagement envers la communautéet son role clédans la <br>
							 réalisation de la mission de l'ULC.
						</p>
							<a class="read_more" href="#">Rôles du Recteur</a>
						<a hidden href="#" class="btn">Read More</a>
					</div>

				</div>
			</div>
		</div>

        <div class="section gray-background">
                  <div class="">

					<div class="container">
						<div class="row">
							<div class="col-lg-6 col-md-12 col-sm-12 ">
								<h1>Comment s'inscrire ?</h1>
							</div>
							<div class="col-lg-6 col-md-12 col-sm-12">
								<a href="#" style="text-decoration: underline; ">Découvrir Les Conditions</a>
							</div>
						</div>
					</div>
					<br>
					<div style="padding: 50px;">
						<div class="container">
							<style>
								.order-label{
									text-decoration: underline; font-size: 100px; font-weight: bold;
									margin-right: 20px;
									color: #c7c7c7
								}
								.border-x{
									border-left: 1px solid silver ;
									border-right: 1px solid silver ;
								}

								.order-label.l1 {
									color: #c7c7c7
								}
								.order-label.l2 {
									color: #dbc7a5
								}
								.order-label.l3 {
									color: #a6e8bc
								}
							</style>
							 <div class="row align-items-center">
								<div class="col-lg-4 col-md-12 col-sm-12">
									<h2 class="d-flex align-items-center">
										<span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
									</h2>
									<p>
										Choisissez parmi notre largeéventail de <br>
										programmes académiques, allant de la  <br>
										philosophie à l'ingénierieet aux sciences <br>
										agronomiques et vétérinaires.
									</p>
								</div>
								
								<div class="col-lg-4 col-md-12 col-sm-12 border-x">
									<br>
									<div>
										<h2 class="d-flex align-items-center">
											<span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
										</h2>
										<p>
												Rassemblez tous les documents requis pour votre <br>
												candidature, tels que les relevés de notes, les lettres <br>
												de recommandationet les pièces d'identité.
										</p>
									</div>
									<br>
								</div>
								<div class="col-lg-4 col-md-12 col-sm-12">
									<div>
										<h2 class="d-flex align-items-center">
											<span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
										</h2>
										<p>
													Une fois votre dossier complet, soumettez votre <br>
													candidature en ligne via notre portaildédié. <br>
													Préparez-vous à réjoindre notre communauté <br>
													académique dynamique à l'ULC.
										</p>	
									</div>
								</div>
							</div>
							
						</div>
					</div>
	            </div>		 
		</div>

		{% include "footer.html" %}

<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>