<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.html" %}
	
	<!-- PAGE TITLE HERE ============================================= -->
	<title>Loyola: Ingeniérie</title>
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
	{% include "header.html" %}
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner " style="background: linear-gradient(to right, #00000067, #00000067), url(/static/assets/images/update/faculté_des_Sciences_et_Technologies.jpeg); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12" style="display: flex; flex-wrap: wrap;">
						<div style="background-color: #eeb421; padding: 50px; margin: 60px 0; border-radius: 10px;">
							<h1>Faculté des sciences et technologies </h1>
							<br>
						<p class="text-black">
							La faculté des sciences et technologies se fonde
                             conjointement sur des multiples
                              référentiels proposés à travers le monde
						</p>
						<a href="#main" style="color: white;" class="btn btn-secondary">EN SAVOIR PLUS</a>
						</div>
						
					</div>
				</div>
			</div>
        </div>


       <div class="section gray-background" id="main">
		<div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12">
                <div>
                    <h1>Aperçus</h1>
                    <p class="text-justify">
                        Depuis sa fondation, dans le dernier quart du XIXème siècle,
                         l’Institut Catholique d’Arts et Métiers, l’Icam,
                          entend être au service du monde économique, 
                          en formant pour les entreprises des collaborateurs auteurs
                           de leurs projets et acteurs dans leur vie professionnelle,
                            personnelle et sociétale.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th><a href="#">Public-cible : Diplômé D'état</a></th>
                            
                        </tr>
                        <tr>
                            <th><a href="#">Début du Programme : 2015</a></th>
                        </tr>
                        <tr>
                            <th><a href="#">Site : Kimwenza</a></th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><a href="#">S'inscrire Maintenant</a></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
	</div>
        
        
       </div>
       <div class="section">
		<div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div>
                    <a href="#"><h1>Objectifs spécifiques</h1></a>
                    Les formations dispensées par l’Ulc-Icam cherchent à atteindre quatre objectifs :
                    
                        <ol>
                            <li>Apporter des fondamentaux scientifiques et techniques, et des capacités relationnelles.</li>
                            <li>Aider à la croissance de la liberté pour former des Hommes entreprenants et responsables.</li>
                            <li>Promouvoir des libertés solidaires pour contribuer au service et au partage.</li>
                            <li>Faire évoluer le monde économique en transformant ses besoins et ses attentes</li>
                        </ol>
                    
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div>
                    <a href="#"><h1>Historique et Mission</h1></a>
                    <p class="text-justify">
                        La faculté des sciences et technologies se fonde conjointement sur des multiples référentiels proposés à travers le monde, pour répondre aux standards internationaux et sur une synthèse des programmes de filières similaires des facultés polytechniques de la RDC.
						<br>
                        Elle propose, depuis 2014, une formation en maintenance des systèmes industriels. Cette formation de 6 semestres – licence du système LMD est une formation généraliste et polyvalente dans les sciences de l’ingénieur : mécanique, automatique, électricité, électronique, informatique, énergétique, etc.
						<br>
                        La FAST ouvrira en 2019 un autre cycle de formation d’ingénieur multiculturel et international en deux cycles : le cycle de bachelor en quatre ans et celui de master en deux ans.
                        A partir de cette année 2018 – 2019, la FAST s’internationalise et accomplira sa mission en collaboration avec l’Icam (Institut Catholique d’Arts et Métiers) dont le siège est en France.
                        Les ingénieurs que nous formons sont appelés à apporter des solutions aux différents problèmes technologiques rencontrés dans la société.
                    </p>
                </div>
            </div>
        </div>
	</div>
       </div>
       <div class="section gray-background">
		<div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href=""><h1>Le Groupe ICAM</h1></a>
                <p class="text-justify">
                    Le Groupe ICAM inscrit son action dans le prolongement
                     de la longue expérience de l’Institut Catholique d’Arts et Métiers,
                      ouvert à Lille en 1898.
                       Les fondateurs de l’ICAM de Lille étaient des industriels,
                        qui ont demandé à la Compagnie de Jésus d’établir et d’animer
                         un projet pédagogique pour la formation d’ingénieurs. Depuis lors,
                          le Groupe ICAM cherche à vivre toujours davantage ce double enracinement
                           industriel et évangélique. Respectueux des convictions
                            personnelles et ouverts à tous, nous posons nos choix institutionnels
                             et pédagogiques en référence à Jésus-Christ. Il nous apprend à regarder
                              le monde avec confiance, en même temps qu’il mobilise
                               notre désir de construire un monde plus juste et plus fraternel.
                                Le récit de sa vie nous enseigne que toute personne
                                 est appelée à une liberté créatrice, responsable et solidaire.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <a href="#"><h1>Aider à la croissance de la liberté</h1></a>
                <p class="text-justify">
                    La mission de l’ICAM est de former des hommes et des femmes compétents,
                     acteurs dans le monde socio-économique. 
                     Fidèles à la pédagogie ignatienne, nous insistons sur le travail sur soi
                      qu’opère l’apprentissage d’un métier :
                       les études engagent la personne tout entière,
                        elles sont le lieu privilégié d’une formation humaine. Un collaborateur compétent
                         est un homme ou une femme d’expérience : fût-il débutant, son comportement 
                         et ses choix s’appuient sur une expérience humaine.
                          Il s’est confronté au réel et il a appris à en tirer profit.
                           Il s’est laissé toucher par les rencontres, par l’affrontement aux problèmes,
                            par la recherche des solutions. Il a éprouvé les chances
                             et les difficultés du travail en commun, ainsi que la fidélité quotidienne
                              à mener ses projets jusqu’au bout. Dans un tel engagement de soi 
                              se construit la liberté personnelle. L’IICAM forme en particulier
                               des ingénieurs dans la tradition Arts et Métiers.
                </p>
            </div>
            
        </div>
	</div>
       </div>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 text-justify">
						<a href=""><h1>La Formation Licence Pro</h1></a>
						<h5>Ulc-Icam offre 7 domaines de la formation de premier cycle:</h5>
						<p>
							Six (6) domaines visent essentiellement à l’acquisition de savoirs et de savoir-faire scientifiques et techniques :      
						</p>
						<ol>
							<li>Domaine Mathématiques et Informatique [MI]</li>
							<li>Domaine Physique et Chimie [PC]</li>
							<li>Domaine Génie Mécanique [GM]</li>
							<li>Domaine Génie Electrique [GE]</li>
							<li>Domaine Management des Hommes et des Organisations [MHO]</li>
							<li>Domaine Energétique, Environnement et Matériaux (EEM)</li>
						</ol>
						<h5>Chacun de ces domaines permet les acquisitions suivantes :</h5>
						<ul>
							<li>Une culture scientifique et technique fondamentale de référence dans le domaine</li>
							<li>Des compétences opérationnelles</li>
							<li>Des méthodes d’ingénierie</li>
							<li>Une approche environnementale et d’éco-conception</li>
							<li>Une réflexion épistémologique</li>
						</ul>
						<p>
							Au-delà de chacun des domaines, l’étudiant doit s’exercer
							et acquérir les compétences de la démarche scientifique. 
							Cette démarche a été formalisée dans le 
							tableau présenté en page suivante.
						</p>
						<h5>Un (1) Domaine de formation générale :</h5>
						<ol>
							<li>Domaine des Humanités [Hu]</li>
						</ol>
						<h5> A ces 7 domaines, il faudrait ajouter un complément de spécialisation professionnelle:</h5>
						<ul>
							<li>Filière Maintenance des systèmes industriels [MSI]</li>
						</ul>
						<h5>Deux (2) Modalités pédagogiques transversales sont aussi offertes :</h5>
						<ul>
							<li>Pédagogie Projet [PP]: Au terme de sa formation, 
								le jeune ingénieur « exerce une expertise dans le pilotage de projet ;
								c’est-à-dire l’art et la manière, de générer ou s’approprier une visée,
								lui donner une forme atteignable contractualisée, choisir une stratégie projet,
								concevoir l’ensemble des processus qui permettront de la réaliser,     
								les mettre en œuvre, piloter et contrôler la réalisation, 
								mener le projet à son terme, capitaliser et ouvrir des perspectives d’avenir. »</li>
							<li>Pédagogie de la Décision [PDD]: La pédagogie de la décision a pour objectif de permettre
								aux étudiants de devenir « acteur de leur vie et auteur de leurs projets ». 
								Par cette expression, on entend la capacité à devenir progressivement soi-même une personne fondée,
								libre et désirante, qui ose être elle-même dans ce qu’elle vit et entreprend, 
								et qui sait se situer dans un juste rapport à autrui, parce qu’elle a appris à 
								repérer la joie dans ce qu’elle vit.</li>
						</ul>
					</div>
				</div>
			</div>
				
		</div>

		{% include './subscription_guide_section.html' %}

		{% include "footer.html" %}
</div>
<!-- External JavaScripts -->
<script src="/static/assets/js/jquery.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/popper.min.js"></script>
<script src="/static/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/assets/vendors/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/static/assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/static/assets/vendors/magnific-popup/magnific-popup.js"></script>
<script src="/static/assets/vendors/counter/waypoints-min.js"></script>
<script src="/static/assets/vendors/counter/counterup.min.js"></script>
<script src="/static/assets/vendors/imagesloaded/imagesloaded.js"></script>
<script src="/static/assets/vendors/masonry/masonry.js"></script>
<script src="/static/assets/vendors/masonry/filter.js"></script>
<script src="/static/assets/vendors/owl-carousel/owl.carousel.js"></script>
<script src="/static/assets/js/functions.js"></script>
<script src="/static/assets/js/contact.js"></script>
<script src='/static/assets/vendors/switcher/switcher.js'></script>
</body>

</html>
