
<div class="section gray-background">
    <div class="">

      <div class="container">
          <div class="row d-flex justify-content-between flex-wrap">
              <div class="">
                  <h1>Comment s'inscrire ?</h1>
              </div>
              <div class="">
                <br>
                  <a href="#" class="btn">Découvrir Les Conditions</a>
                  <br>
              </div>
          </div>
      </div>
      <div style="padding: 50px;">
          <div class="container">
              <style>
                  .order-label{
                      text-decoration: underline; font-size: 100px; font-weight: bold;
                      margin-right: 20px;
                      color: #c7c7c7
                  }
                  .border-x{
                      border-left: 1px solid silver ;
                      border-right: 1px solid silver ;
                  }

                  .order-label.l1 {
                      color: #c7c7c7
                  }
                  .order-label.l2 {
                      color: #dbc7a5
                  }
                  .order-label.l3 {
                      color: #a6e8bc
                  }
              </style>
               <div class="row align-items-center">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                      <h2 class="d-flex align-items-center">
                          <span class="order-label l1">1</span> <span>Sélectionnez votre programme</span>
                      </h2>
                      <p class="text-justify">
                          Choisissez parmi notre largeéventail de 
                          programmes académiques, allant de la  
                          philosophie à l'ingénierieet aux sciences 
                          agronomiques et vétérinaires.
                      </p>
                  </div>
                  
                  <div class="col-lg-4 col-md-12 col-sm-12 border-x">
                      <br>
                      <div>
                          <h2 class="d-flex align-items-center">
                              <span class="order-label l2">2</span> <span>Préparez tous vos Dossier</span>
                          </h2>
                          <p class="text-justify">
                                  Rassemblez tous les documents requis pour votre 
                                  candidature, tels que les relevés de notes, les lettres 
                                  de recommandationet les pièces d'identité.
                          </p>
                      </div>
                      <br>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                      <div>
                          <h2 class="d-flex align-items-center">
                              <span class="order-label l3">3</span> <span>Soumettez votre candidature</span>
                          </h2>
                          <p class="text-justify">
                                      Une fois votre dossier complet, soumettez votre 
                                      candidature en ligne via notre portaildédié.
                                      Préparez-vous à réjoindre notre communauté 
                                      académique dynamique à l'ULC.
                          </p>	
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </div>		 
</div>